@import "tailwindcss";

@font-face {
  font-family: "PixelFont";
  src: url("./assets/fonts/PressStart2P-Regular.ttf") format("truetype");
}

:root {
  --box-shadow-width: 5px;
  --pixel-font: "PixelFont", "sans-serif";
  --pixel-box-shadow: calc(-1 * (var(--box-shadow-width))) 0 0 0 black,
    var(--box-shadow-width) 0 0 0 black, 0 var(--box-shadow-width) 0 0 black,
    0 calc(-1 * (var(--box-shadow-width))) 0 0 black;
}

.pixelact {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --success: oklch(0.58 0.1852 144.77);
  --warning: oklch(0.85 0.2 99);
  --link: oklch(0.6 0.118 184.704);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0 / 15%);
  --ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --destructive: oklch(0.62 0.24 25.94);
  --warning: oklch(0.82 0.17 87.89);
  --success: oklch(0.74 0.19 146.02);
  --link: oklch(0.6 0.118 184.704);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
}

.box-shadow-margin {
  margin: var(--box-shadow-width);
}

.pixel-font {
  font-family: var(--pixel-font);
  letter-spacing: 1px;
}
